// Panels

.startmenu-component {
  margin: 5px;
  @include button-shadow;
}

.start-view-component .start-menu-container .startmenu-component {
  height: calc(100% - 10px);
}

.settings-panel-component {
  top: 30px;
  right: 7px;
  bottom: 7px;
  height: unset;
  width: 290px;
  padding: 10px 5px;
  @include button-shadow;
}

.card, .card.card-low {
  border-radius: 0;
  padding: 1px 0 0 1px;
  @include button-shadow;
}

.app-card-component .app-card-body {
  border-radius: 0;
  @include button-shadow;
}

.modal-component .modal {
  border-radius: 0;
  padding: 1px 0 0 1px;
  @include button-shadow;
}
